[Desktop Entry]
Name=Artemis OS Notifier KDE Settings


Comment=Graphical Settings for Artemis OS Notifier KDE

Exec=msm_kde_notifier --settings
Icon=artemisos-settings-manager
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
