[Desktop Entry]
Name=Artemis OS  Notifier Settings


Comment=Graphical Settings for Artemis OS Notifier


Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
